body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: brown;
}

header{
    font-family: GarciaMarqiez;
    color: gold;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter-family{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: ArsenicaTrial;
    font-size: 1.5em;
    height: 20vh;
}
a{
    text-decoration: none;
}
.enter, .enter a{
    width: auto;
    font-family: ArsenicaTrial;
    font-size: 2em;
    font-style: normal;
    
    color: black;
    background-color: rgba(255, 255, 255, 0.798);
}

.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.family{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ArsenicaTrial;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: brown;
    border-radius: 25px;
    border: 3px solid white;
}
.modal-video{
    background-color: rgba(255, 255, 255, 0.696);
    width: 100vw;
    display: none;
    position: absolute;
    top: 20vh
}
.modal-video video{
    width: 100vw;
}
.active{
    display: block;
}
.close-modal, .close-modal img{
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
}

@font-face {
    font-family: GarciaMarqiez;
    src: url(../fonts/GarciaMarquez.otf);
}

@font-face {
    font-family: ArsenicaTrial;
    src: url(../fonts/ArsenicaTrial-Regular.ttf);
}